.favorites-title {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

}

.favorites {
  justify-content: center;
}

.remove-btn {
  float: right;
}

.del-btn {
  float: right;
}

.favmovie-img {
  min-width: 7rem;
  max-width: 22rem;
  min-height: 18rem;
  max-height: 20rem;
}