.fav-btn {
  float: right;
}

.movieImg {
  min-width: 5rem;
  max-width: 20rem;
  min-height: 8rem;
  max-height: 25rem;
}

.movie-viewcrd {
  min-width: 7rem;
  max-width: 20rem;
  min-height: 14rem;
  max-height: 70rem;
}

