/*
Colors Used

primary color (button background) - cyan  
secondary color ()- purple
text color (button border/text) - gray 
*/

:root {
  --primary: #4ac4a8; 
  --secondary: #9068cf;
  --text: #171717;
}

.loginbtn {
  cursor: pointer;
  background-color: var(--primary);
  border-radius: 6px;
  border-color: var(--text);
}