/* Colors used -

background color (also primary color) - #303a40 
*/

html {
  background: #303a40;
}

// Main view scss
.index-mv-container {
  margin-top: 9%;
}


// Movie View scss
.mview-text {
  font-weight: 600;
}
